:root {
    --x: 11px;
    --h: 1rem;
    --grey: #4e596e;
    --grey_dark: #242a32;
    --blue: #5a8ed3;
    --background: #f1f1f6;
    --white: #ffffff;
}


.popup_page {
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100%;
    width: 100vw;
    display: grid;
    z-index: 1000;
    place-content: center;
}

.popup_page>div {
    width: min(90vw, 500px);
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--white);
    text-align: center;
    text-transform: capitalize;
}

.popup_page>div>button {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--blue);
    color: var(--white);
    text-align: center;
    box-shadow: 0 0 10px -5px var(--grey_dark);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.popup_page>div>button:disabled {
    background-color: var(--grey);
}